
# ignore auto-created wordpress stuff
/data
/wordpress
/wp-content/plugins/akismet/*
/wp-content/plugins/hello.php
/wp-content/themes/twentynineteen
/wp-content/themes/twentytwenty
/wp-content/themes/twentytwentyone